body {
  background-color: #3B576C; /* Set the background color for the entire page */
  margin: 0;                  /* Remove default margin */
  font-family: Arial, sans-serif; /* Set your desired font */
  display: flex;              /* Add Flexbox to the body */
  justify-content: center;    /* Center children horizontally */
  align-items: center;        /* Center children vertically */
  height: 100vh;              /* Full viewport height to enable vertical centering */
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers content within the container vertically */
  align-items: center;     /* Centers content within the container horizontally */
  background-color: #3B576C; /* Dark background color */
  color: #fff;             /* Default text color */
}

/* Logo container styling */
.logo-container {
  background-color: #3b576c;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 8px; /* Optional rounded corners */
  margin-bottom: 20px; /* Space below the logo */
}

/* Logo styling */
.logo {
  width: 300px; /* Fixed logo width */
}

/* Button container styling */
.button-container {
  text-align: center;
  margin: 20px 0;
}

/* Action button styling */
.action-button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #2d343a;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.action-button:hover {
  background-color: #5c7b92; /* Slightly lighter on hover */
}