body {
  background-color: #38424a; /* Set the background color for the entire page */
  margin: 0;                  /* Remove default margin */
  font-family: Arial, sans-serif; /* Set your desired font */
}